<%- include('../header') %>

<body cz-shortcut-listen="true">
  <%- include('../popups/delete-avatar') %>
  <%- include('../popups/modify-avatar') %>
  <%- include('../popups/following-modal', {users, userIn}) %>
  <header>
    <%- include('../nav/navbar') %>
  </header>
  <main>
    <div class="greets d-flex">

      <%- include('profile-data', { user, lastGreet: greets[0], userIn, redirectTo: `/profile/${user.uid}` }) %>

      <% if (typeof greetFeedBack !== 'undefined') { %>
      <div class="text-center alert <%= ` alert-${greetFeedBack.status}` %>" role="alert" data-mdb-color="danger">
        <p>
          <%= greetFeedBack.message %>
        </p>
      </div>
      <% } %>

      <% if (typeof userIn !== 'undefined' && userIn.uid === user.uid) { %>
      <%- include('../greets/new-greet', {redirectTo: `/profile/${userIn.uid}`}) %>
      <% } %>

      <% greets.forEach(greet=> { %>
      <%- include('../greets/greet', {greet, redirectTo: `/profile/${userIn.uid}`}) %>
      <% }) %>

    </div>
  </main>

  <%- include('../footer') %>

</body>

</html>