<div class="d-flex">
  <% if (user.role === 'user') { %>
  <div class="card mb-3 profile-card">

    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="<%= user.avatar.length ? `/profile/avatar/${user.uid}.${user.avatar}` : '/placeholder.svg' %>" alt="profilkép" class="img-fluid ripple profile-avatar" loading="lazy" />
        <div class="pic-control">
          <a data-mdb-toggle="modal" id="toggleDelete" data-mdb-target="#modifyModal">
            <button type="button" class="btn btn-warning btn-floating mx-1">
              <i class="fas fa-edit"></i>
            </button>
        </a>
        <a data-mdb-toggle="modal" id="toggleDelete" data-mdb-target="#deleteModal">
            <button type="button" class="btn btn-danger btn-floating mx-1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-header d-flex justify-content-center">
          <h5 class="card-title">
            <%= user.username %>
          </h5>
        </div>
        <div class="card-body d-flex align-items-center">
          <p class="card-text text-truncate">
            <%= lastGreet.text %>
          </p>
        </div>
        <div class="card-footer d-flex align-items-center">
          <% if (userIn.uid !== user.uid) { %>
          <form method="GET" action="/profile/follow/<%= user.uid %>">
            <button type="submit" class="btn btn-primary"><%= userIn.following.includes(user.uid) ? 'Nem követem' : 'Követem' %> </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>

  </div>
  <% } %>
</div>