<%- include('header') %>

<body cz-shortcut-listen="true">
  <header>
    <%- include('nav/navbar') %>
  </header>
  <main>
    <div class="greets d-flex">

      <%- include('feedback-box') %>

      <% if (typeof userIn !== 'undefined' && userIn.role === 'user') { %>
      <%- include('greets/new-greet-form', {redirectTo}) %>
      <% } else if (typeof userIn !== 'undefined') { %>
        <p class="text-center alert-info" role="alert" data-mdb-color="info">
          Greet publikálásához bővítsd profilodat a neveddel, és egy felhasználónévvel!
        </p>
      <% } %>

      <% greets.forEach(greet=> { %>
      <%- include('greets/greet', {greet, redirectTo}) %>
      <% }) %>
    </div>
  </main>

  <%- include('footer') %>

</body>

</html>