<%- include('header') %>

<body cz-shortcut-listen="true">
  <header>
    <%- include('nav/navbar') %>
  </header>
  <main>
    <div class="greets d-flex">

      <% if (typeof greetFeedBack !== 'undefined') { %>
      <div class="text-center alert <%= ` alert-${greetFeedBack.status}` %>" role="alert" data-mdb-color="<%= greetFeedBack.status %>">
        <p>
          <%= greetFeedBack.message %>
        </p>
      </div>
      <% } %>

      <% if (typeof userIn !== 'undefined' && userIn.uid === user.uid) { %>
      <%- include('greets/new-greet-form', {redirectTo}) %>
      <% } %>

      <% greets.forEach(greet=> { %>
      <%- include('greets/greet', {greet, redirectTo}) %>
      <% }) %>
    </div>
  </main>

  <%- include('footer') %>

</body>

</html>