<%- include('header') %>

<body cz-shortcut-listen="true" <% if (typeof modal !== 'undefined') { %> <% if (modal === 'signup') { %>
  onload="showSignUp()" <% } else { %> onload="showSignIn()" <% } %> <% } %>>


  <header>
    <%- include('nav/navbar') %>
  </header>
  <main>
    <% if (typeof modal === 'undefined') { %>
    <%- include('feedback-box') %>
    <% } %>
    <% if (typeof userIn === 'undefined') { %>
    <div class="container d-flex align-items-center">
      <img id="main-logo" src="/greeter_logo_full.svg" alt="greeter" loading="lazy">
      <p class="intro">Ha szeretnél csatlakozni a greetelők közösségéhez, <a data-mdb-toggle="modal" id="toggleSignUp"
          data-mdb-target="#signupModal">regisztálj</a>!</p>
    </div>
    <%- include('popups/signin') %>
    <%- include('popups/signup') %>
    <%- include('popups/lost-pw') %>
    <% } %>

    <div class="greets d-flex">

      <% greets.forEach(greet=> { %>
      <%- include('greets/greet', {greet}) %>
      <% }) %>

    </div>

  </main>

  <%- include('footer') %>

</body>

</html>