<%- include('header') %>

<body cz-shortcut-listen="true" <% if (typeof signInError !== 'undefined') { %> onload="showSignIn()" <% } %> <% if (typeof signUpError !== 'undefined') { %> onload="showSignUp()" <% } %>>

  <%- include('popups/signin') %>
  <%- include('popups/signup') %>
  <header>
    <%- include('navbar') %>
  </header>
  <main>


    <div class="greets d-flex">

      <%- include('greets/greet-list') %>

    </div>
    
  </main>

  <%- include('footer') %>

</body>

</html>