<%- include('header') %>

<body cz-shortcut-listen="true" <% if (typeof errorMessage !== 'undefined') { %> onload="showSignIn()" <% } %>>

  <%- include('popups/signin') %>
  <%- include('popups/signup') %>
  <header>
    <%- include('navbar') %>
  </header>
  <main>


    <div class="greets d-flex">

      <% greets.forEach(greet=> { %>
      <%- include('greets/greet', {greet}) %>
      <% }) %>

    </div>
  </main>

  <%- include('footer') %>

</body>

</html>