<div id="carousel-<%= regreet ? `re-${greet.gid}` : greet.gid %>" class="carousel slide carousel-fade carousel-dark" data-interval="false" data-mdb-ride="carousel-<%= regreet ? `re-${greet.gid}` : greet.gid %>">
  <% if (typeof userIn !== 'undefined') { %>

  <button style="display: none;" id="<%= regreet ? `re-${greet.gid}` : greet.gid %>-close-full" class="btn btn-floating btn-link close-fullscreen" onclick="closeFullCarousel('<%= regreet ? `re-${greet.gid}` : greet.gid %>')"><i class="fas fa-times"></i></button>
  <div class="carousel-indicators">

    <% greet.pics.forEach((pic, p)=> { %>
    <button data-mdb-target="#carousel-<%= regreet ? `re-${greet.gid}` : greet.gid %>" data-mdb-slide-to="<%= p %>" <% if (p === 0) { %> class="active" aria-current="true" <% } %> aria-label="Slide <%= p+1 %>"></button>
    <% }) %>

  </div>

  <% } %>

  <div class="carousel-inner">

    <% if (typeof userIn === 'undefined') { %>

    <img src="/placeholder-img.jpg" class="d-block w-100" alt="greetkép">
    <p>A képek megtekintéséhez, kedveléshez, hozzászóláshoz regisztrálj, vagy jelentkezz be!</p>

    <% } else { %>

    <% greet.pics.forEach((pic, p)=> { %>
    <div class="<%= p === 0 ? 'carousel-item active' : 'carousel-item' %>" onclick="openFullCarousel('<%= regreet ? `re-${greet.gid}` : greet.gid %>')">
      <img src="/greets/<%= pic %>" class="d-block w-100" alt="greetkép">
    </div>

    <% }) %>
    
  <% } %>
    
  </div>

  <% if (typeof userIn !== 'undefined') { %>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carousel-<%= regreet ? `re-${greet.gid}` : greet.gid %>" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carousel-<%= regreet ? `re-${greet.gid}` : greet.gid %>" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <% } %>
</div>