<div class="card greet">
  <% greet.pics.forEach(pic=> { %>
  <img src="<%= pic %> " class="card-img-top" alt="greetkép">
  <% }) %>
  <div class="card-body">
    <div class="greet-header d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="<%= typeof greet.authorAvatar !== 'undefined' ? `/profile/avatar/${greet.author}.${greet.authorAvatar}` : '/placeholder.svg' %>" alt="profilkép" class="rounded-circle ripple avatar" height="36" loading="lazy">
        <a class="author-name" href="/profile/<%= greet.author %>">
          <%= greet.authorName %>
        </a>
      </div>
      <p class="greet-date">
        <%= new Date(greet.date).toLocaleString() %>
      </p>
    </div>

    <p class="card-text">
      <%= greet.text %>
    </p>
    <div class="d-flex justify-content-start likes">
      <form method="GET" action="/greet/like/<%= greet.gid %>">
        <button type="submit" class="btn btn-primary btn-floating mx-1">
          <i class="fas fa-heart"></i>
        </button>

      </form>
      <% if (greet.likerCount) { %>
      <p>
        <%= greet.likerCount %>
      </p>
      <% } %>
    </div>
    <!-- Kommentek, like, stb. -->
  </div>
</div>