<div class="card greet">
	<% if (typeof userIn !=='undefined') { %> <%- include('delete-greet',
	{redirectTo, gid: greet.gid }) %> <%- include('modify-greet', {redirectTo,
	greet}) %> <% } %>

	<div class="card-header">
		<div class="greet-header d-flex justify-content-between align-items-center">
			<div class="greet-header-right">
				<a
					class="author-name d-flex align-items-center"
					href="/profile/<%= greet.author %>"
				>
					<img
						src="<%= typeof user !== 'undefined' && greet.authorAvatar.length && typeof userIn !== 'undefined' ? `/profile/avatar/${greet.author}.${greet.authorAvatar}` : '/placeholder.svg' %>"
						alt="profilkép"
						class="rounded-circle ripple avatar"
						loading="lazy"
					/>
					<p><%= greet.authorName %></p>
				</a>
				<% if (typeof userIn !=='undefined' && userIn.uid !== greet.author) { %>
					<form method="POST" action="/profile/follow/<%= greet.author %>">
						<input type="hidden" name="redirectTo" value="<%= redirectTo %>">
						<input type="hidden" name="scroll" class="scroll" value="0"/>
						<button type="submit" class="btn btn-primary btn-floating">
							<% if (userIn.following.includes(greet.author)) { %>
							<i class="fas fa-user-minus"></i>
							<% } else { %>
							<i class="fas fa-user-plus"></i>
							<% } %>
						</button>
					</form>
				<% } %>
			</div>
			<div class="greet-params d-flex align-items-center">
				<i
					class="fas<%= greet.visibility	=== 'public' ? 'fa-lock-open' : 'fa-lock' %>"
				></i>
				<p class="greet-date"><%= new Date(greet.date).toLocaleString() %></p>
			</div>
		</div>
	</div>

	<div class="card-body">
		<p class="card-text"><%= greet.text %></p>
		<% if (typeof greet.pics !=='undefined' && greet.pics.length) { %> <%-
		include('carousel') %> <% } %>
	</div>

	<div class="card-footer justify-content-between">
		<% if (typeof userIn==='undefined' ) { %>
		<form class="likes">
			<button type="submit" class="btn btn-light btn-floating mx-1" disabled>
				<i class="fas fa-heart"></i>
			</button>
			<% if (greet.likerCount) { %>
			<p><%= greet.likerCount %></p>
			<% } %>
		</form>

		<% } %> <% if (typeof userIn !=='undefined' ) { %>
		<form class="likes" method="POST" action="/greet/like/<%= greet.gid %>">
			<input type="hidden" name="scroll" class="scroll" value="0" />
			<input type="hidden" name="redirectTo" value="<%= redirectTo %>" />

			<button
				type="submit"
				class="btn btn-<%= typeof userIn !== 'undefined' && greet.likerIDs.includes(userIn.uid)	? 'primary' : 'light' %> btn-floating mx-1"
			>
				<i class="fas fa-heart"></i>
			</button>

			<% if (greet.likerCount) { %>
			<p><%= greet.likerCount %></p>
			<% } %> <% if (userIn.uid===greet.author) { %>
			<div class="greet-control">
				<a
					data-mdb-toggle="modal"
					class="toggle-greet-edit"
					data-mdb-target="#modify-<%= greet.gid %>"
				>
					<button type="button" class="btn btn-warning btn-floating mx-1">
						<i class="fas fa-pencil-alt"></i>
					</button>
				</a>

				<a
					data-mdb-toggle="modal"
					class="delete-greet"
					data-mdb-target="#delete-<%= greet.gid %>"
				>
					<button type="button" class="btn btn-danger btn-floating mx-1">
						<i class="fas fa-trash"></i>
					</button>
				</a>
			</div>
			<% } %>
		</form>
		<% } %>
	</div>
</div>
